/*------------BANNER------------*/

.integrantes-banner {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: bisque;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #222;
}

.integrantes-banner > p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: bold;
  display: inline-block;
  animation: desplazar 25s linear infinite;
  padding-left: 100%;
}

@keyframes desplazar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*------------PROMOS BANCARIAS------------*/

.promosBancarias-container {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: #222;
  color: #ddd;
  letter-spacing: 1px;
}

/*------------HEADER------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

/*------------LOGO------------*/

.logo-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.logo-container > h1 {
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
}

/*------------MIDDLE SECTION TODO------------*/
.header-middlle-section > p {
  font-size: 30px;
  text-align: center;
}




/*------------HEADER BUTTONS------------*/

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 115px;
  margin-bottom: 5px;
  margin-left: 4px;
  flex-direction: column;
  cursor: pointer;
  border-style: none;
  border-radius: 8px;
}

.header-button:hover {
  background-color: lightgrey;
  border-radius: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 200,
  'opsz' 20
}

.header-button > div {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  text-align: center;
}