main{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.welcome-section{
   text-align: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;


}
.welcome-section > h2{
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.name-input{
  font-size: 35px;
  width: auto;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;

}
.btn-ingresar{
  margin-top: 18px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-style: none;
  border-radius: 8px;
  height: 45px;

}
.btn-ingresar:hover{
    background-color: lightgrey;
    border-radius: 5px;
}

.welcome-section > p {
  color: rgb(220, 52, 52);
  font-style: italic;
}