.oscuro {
  background-color: #222;
  color: #ddd;
}

body{
  max-width: 1200px;
  margin: 0 auto;

}

.integrantes-banner{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: bisque;
}
header{
  display: flex;
  align-items: center; 
  justify-content: space-between;
}


.integrantes-banner > p{
  display: inline-block;
  animation: desplazar 15s linear infinite;
  padding-left: 100%;
}

@keyframes desplazar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


main{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.welcome-section{
   text-align: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;


}
.welcome-section > h2{
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.name-input{
  font-size: 35px;
  width: auto;
  box-sizing: border-box;
  text-align: center;

}
.btn-ingresar{
  margin-top: 18px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 30px;

}

.welcome-section > p {
  color: rgb(220, 52, 52);
  font-style: italic;
}