<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <script>
      let tema = localStorage.getItem('tema');
      if (tema === null || tema === 'claro') {
        document.documentElement.classList.remove('oscuro');
      } else if (tema === 'oscuro') {
        document.documentElement.classList.add('oscuro');
      }
    </script>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Bienvenida - Bichito de Luz</title>
  </head>
  <body>

    <div class="integrantes-banner">
      <p>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</p>
    </div>
    <header>

      <div class="header-left-section">
        <div class="logo-container">
          <img src="../images/favicon.ico" alt="Logo">
          <h1>Bichito de luz</h1>
        </div>
      </div>

      <div class="header-middlle-section">
        <p>Todo lo que buscas para iluminar</p>
      </div>

      <div class="header-right-section">
        <button id="btn-tema">Cambiar tema</button>
        <button id="btn-administrador">Soy administrador</button>
      </div>

    </header>

    <main>
      <section class="welcome-section">

        <h2>¡Bienvenido!</h2>
        <input type="text" id="input-nombre" placeholder="Ingrese su nombre..." value="Nombre">
        <button id="btn-ingresar">Ingresar</button>
        <p id="p-mensaje"></p>

      </section>
      
    </main>
    <script type="module" src="../controllers/bienvenida.js"></script>
  </body>
</html>