<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Bienvenida - Bichito de Luz</title>
  </head>
  <body>
    <header>
      <img src="../images/favicon.ico" alt="Logo">
      <h1>Bichito de luz</h1>
      <h1>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h1>
      <h1>¡Bienvenido!</h1>
      <button id="btn-tema">Cambiar tema</button>
    </header>
    <main>
      <input type="text" id="input-nombre" placeholder="Ingrese su nombre..." value="Nombre">
      <button id="btn-ingresar">Ingresar</button>
      <p id="p-mensaje"></p>
      <button id="btn-administrador">Soy administrador</button>
    </main>
    <script type="module" src="../controllers/bienvenida.js"></script>
  </body>
</html>