<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Carrito - Bichito de Luz</title>
  </head>
  <body>
    <header>
      <img src="../images/favicon.ico" alt="Logo">
      <h1>Bichito de luz</h1>      
      <h1>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h1>
      <h1>Carrito</h1>
      <button id="btn-tema">Cambiar tema</button>
    </header>
    <nav>
      <button id="btn-productos">Productos</button>
      <button id="btn-carrito">Carrito</button>
      <button id="btn-salir">Salir</button>
    </nav>
    <main>
      <section id="section-productos"></section>
      <div>
        <button id="btn-finalizar-compra">Finalizar compra</button>
      </div>
    </main>
    <script type="module" src="../controllers/carrito.js"></script>
  </body>
</html>