<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Productos - Bichito de Luz</title>
  </head>
  <body>
    <header>
      <img src="../images/favicon.ico" alt="Logo">
      <h1>Bichito de luz</h1>      
      <h1>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h1>
      <h1>Productos</h1>
      <button id="btn-tema">Cambiar tema</button>
    </header>
    <nav>
      <button id="btn-productos">Productos</button>
      <button id="btn-carrito">Carrito</button>
      <button id="btn-salir">Salir</button>
    </nav>
    <main>
      <section id="buttons">
        <button id="btn-faroles">Faroles</button>
        <button id="btn-plafones">Plafones</button>
        <br>
        <button id="btn-pagina-anterior">Página anterior</button>
        <button id="btn-pagina-siguiente">Página siguiente</button>
      </section>
      <section id="section-productos"></section>
    </main>
    <script type="module" src="../controllers/productos.js"></script>
  </body>
</html>