<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Dashboard</h1>
      <h2>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h2>
      <button id="btn-tema">Cambiar tema</button>
    </header>
    <nav>
      <a href="./login.html">Cerrar sesión</a>
    </nav>
    <main>
      <button id="btn-agregar-producto">Agregar producto</button>
      <section id="section-productos"></section>
    </main>
    <script type="module" src="../../controllers/administrator/dashboard.js"></script>
  </body>
</html>