<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <title>Login</title>
  </head>
  <body>
    <header>
      <h1>Login</h1>
      <h2>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h2>
      <button id="tema">Cambiar tema</button>
    </header>
    <nav>
      <a href="../client/bienvenida.html">Salir</a>
    </nav>
    <main>
      <input type="text" id="inputMail" placeholder="Mail">
      <input type="text" id="inputClave" placeholder="Clave">
      <button id="ingresar">Ingresar</button>
    </main>
  </body>
</html>