<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <title>Modificar producto</title>
  </head>
  <body>
    <header>
      <h1>Modificar producto</h1>
      <h2>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h2>
      <button id="tema">Cambiar tema</button>
    </header>
    <nav>
      <a href="./dashboard.html">Cancelar</a>
    </nav>
    <main>
      <input type="number" id="id" placeholder="Ingrese el id...">
      <input type="text" id="nombre" placeholder="Ingrese el nombre...">
      <input type="number" id="precio" placeholder="Ingrese el precio...">
      <input type="text" id="imagen" placeholder="Ingrese la imagen...">
      <input type="text" id="categoria" placeholder="Ingrese la categoria...">
      <button id="modificar">Modificar</button>
    </main>
  </body>
</html>