<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <title>Bienvenida</title>
  </head>
  <body>
    <header>
      <h1>¡Bienvenido!</h1>
      <h2>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h2>
      <button id="tema">Cambiar tema</button>
    </header>
    <main>
      <input type="text" id="inputNombre" placeholder="Ingrese su nombre..." value="Nombre">
      <button id="ingresar">Ingresar</button>
      <p id="mensaje"></p>
      <button id="administrador">Soy administrador</button>
    </main>
    <script type="module" src="../../controllers/bienvenida.js"></script>
  </body>
</html>