<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <title>Productos</title>
  </head>
  <body>
    <header>
      <h1>Productos</h1>
      <h2>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h2>
      <button id="btn-tema">Cambiar tema</button>
    </header>
    <nav>
      <a href="">Productos</a>
      <a href="./carrito.html">Carrito</a>
      <a href="./bienvenida.html">Salir</a>
    </nav>
    <main>
      <section id="buttons">
        <button id="btn-plafones">Plafones</button>
        <button id="btn-faroles">Faroles</button>
        <hr>
        <button id="btn-pagina-anterior">Página anterior</button>
        <button id="btn-pagina-siguiente">Página siguiente</button>
      </section>
      <section id="section-productos"></section>
    </main>
  </body>
</html>