nav button{
  margin-left: 15px;
}
nav button,
form button {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

/* ********** Formulario ************/
#form-agregar,
#form-modificar{
  width: 100%;
  max-width: 450px;
  margin: -10px auto;
  padding: 25px;
  padding-top: 40px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Playfair Display", serif;
}
form input,
select {
  font-size: 20px;
  width: auto;
  color: #303031;
}




#form-agregar input,
#form-agregar select,
#form-modificar input,
#form-modificar select{
  padding: 4px 14px;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
  font-size: 15px;
  font-family: inherit;
  outline: none;
  background: #fafafa;
  transition: 0.2s ease;
}
#form-agregar input:focus,
#form-agregar select:focus,
#form-modificar input:focus,
#form-modificar select:focus {
  border-color: #303031;
  background: #fff;
  box-shadow: 0 0 4px rgba(48,48,49,0.4);
}



/* ********** seleccionar imagen ************/
.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.file-input-container input[type="file"] {
  display: none; /*Oculto boton original de tipo input*/
}
#file-label {
  padding: 10px 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
  text-align: center;
  width: auto;
}
#file-label:hover {
  background: #bebebe;
}
#file-name {
  font-size: 14px;
  color: #444;
  text-align: center;
}





.div-submit {
  display: flex;
  justify-content: center;
  width: 100%;
}
.div-submit > button {
  margin-left: 10px;
  margin-right: 10px;
  
}



