main{
  padding: 20px;
}
.welcome-section{
   text-align: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
}
.welcome-section > h2{
  font-family: "Playfair Display", serif; 
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
  animation: letterBounce 3s  infinite;
}
@keyframes letterBounce {
  /* Inicio */
  0% {
    letter-spacing: 1px;
  }

  /* Sube a 10px */
  20% {
    letter-spacing: 10px;
  }

  /* Rebote rápido (sobrepasa y vuelve) */
  28% {
    letter-spacing: 8px;
  }
  30% {
    letter-spacing: 10px;
  }

  /* Mantener en 10px un rato */
  45% {
    letter-spacing: 10px;
  }

  /* Baja a 1px */
  100% {
    letter-spacing: 1px;
  }

}

input{
  font-size: 35px;
  width: auto;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
}
button {
  margin-top: 18px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  border-style: none;
  border-radius: 8px;
  height: 45px;

}
.btn-ingresar > .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 200,
  'opsz' 20
}
button:hover{
  background-color: lightgrey;
  border-radius: 5px;
}

#p-mensaje {
  color: rgb(220, 52, 52);
  font-style: italic;
}

#buttons{
    display: flex;
}

#btn-plafones, #btn-faroles{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    margin-bottom: 5px;
    margin-left: 4px;
    flex-direction: row;
    cursor: pointer;
    border-style: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

.div-finalizar-compra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-finalizar-compra > p {
  font-weight: 900;
}

.div-finalizar-compra > button {
  width: 100%;
  margin: 20px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 4px;
  flex-direction: row;
  cursor: pointer;
  border-style: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  margin-top: auto;
}