<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>Alta de producto - Bichito de Luz</title>
  </head>
  <body>
    <header>
      <img src="/public/favicon.ico" alt="Logo">
      <h1>Bichito de luz</h1>
      <h1>Alta de producto</h1>
      <h2>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h2>
      <button id="btn-tema">Cambiar tema</button>
    </header>
    <nav>
      <a href="/administrator/dashboard">Cancelar</a>
    </nav>
    <main>
      <form id="form-agregar">
        <input type="text" name="nombre" placeholder="Ingrese el nombre...">
        <input type="number" name="precio" placeholder="Ingrese el precio...">
        <input type="file" name="imagen">
        <input type="text" name="categoria" placeholder="Ingrese la categoria...">
        <button type="submit">Agregar</button>
      </form>
    </main>
    <script type="module" src="../public/js/alta-producto.js"></script>
  </body>
</html>