<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <script>
      let tema = localStorage.getItem('tema');
      if (tema === null || tema === 'claro') {
        document.documentElement.classList.remove('oscuro');
      } else if (tema === 'oscuro') {
        document.documentElement.classList.add('oscuro');
      }
    </script>
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Alta de producto - Bichito de Luz</title>
  </head>
  <body>
    <header>
      <img src="/public/favicon.ico" alt="Logo">
      <h2>Bichito de luz</h2>
      <p>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</p>
      <h1>Alta de producto</h1>
      <button id="btn-tema">Cambiar tema</button>
    </header>
    <nav>
      <button id="btn-cancelar">Cancelar</button>
    </nav>
    <main>
      <form id="form-agregar">
        <input type="text" name="nombre" placeholder="Ingrese el nombre...">
        <input type="number" name="precio" placeholder="Ingrese el precio...">
        <input type="file" name="imagen">
        <select name="categoria" id="">
          <option value="Plafon">Plafon</option>
          <option value="Farol">Farol</option>
        </select>
        <button type="submit">Agregar</button>
      </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/public/js/alta-producto.js"></script>
  </body>
</html>