<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <script>
      let tema = localStorage.getItem('tema');
      if (tema === null || tema === 'claro') {
        document.documentElement.classList.remove('oscuro');
      } else if (tema === 'oscuro') {
        document.documentElement.classList.add('oscuro');
      }
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Dashboard - Bichito de Luz</title>
  </head>
  <body>
    <header>
      <img src="/public/favicon.ico" alt="Logo">
      <h2>Bichito de luz</h2>      
      <p>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</p>
      <h1>Dashboard</h1>
      <button id="btn-tema">Cambiar tema</button>
    </header>
    <nav>
      <button id="btn-agregar-producto">Agregar producto</button>
      <button id="btn-cerrar-sesion">Cerrar sesión</button>
    </nav>
    <main>
      <section id="section-buttons">
        <button id="btn-faroles">Faroles</button>
        <button id="btn-plafones">Plafones</button>
      </section>
      <section id="section-productos"></section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="module" src="/public/js/dashboard.js"></script>
  </body>
</html>