<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <title>Login - Bichito de Luz</title>
  </head>
  <body>
    <header>
      <img src="/public/favicon.ico" alt="Logo">
      <h1>Bichito de luz</h1>      
      <h1>Alumnos: COTTI, Luciano Ariel y RODRIGUEZ, Gonzalo Ezequiel</h1>
      <h1>Login</h1>
      <button id="btn-tema">Cambiar tema</button>
    </header>
    <nav>
      <button id="btn-salir">Salir</button>
    </nav>
    <main>
      <input type="email" id="input-mail" placeholder="Mail" required>
      <input type="password" id="input-clave" placeholder="Clave" required>
      <button id="btn-ingresar">Ingresar</button>
      <br>
      <button id="btn-acceso-rapido">Acceso rápido</button>
      <p id="p-mensaje"></p>
    </main>
    <script type="module" src="../public/js/login.js"></script>
  </body>
</html>